﻿@using Microsoft.AspNetCore.Mvc.Localization
@using SynfusionModalTest.Localization
@inject IHtmlLocalizer<SynfusionModalTestResource> L
<a class="btn" role="button" href="~/Account/Login"><i class="fa fa-sign-in me-1"></i> @L["Login"]</a>
