﻿ <!-- Syncfusion Essential JS 2 Styles -->
<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.2.36/bootstrap5.css"
      asp-fallback-href="~/libs/syncfusion/bootstrap5.css"
      asp-fallback-test-class="e-control"
      asp-fallback-test-property="font-size"
      asp-fallback-test-value="12px" />

<script src="/libs/syncfusion/ej2.min.js"></script>