@page
@using Microsoft.AspNetCore.Mvc.Localization
@using SynfusionModalTest.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using SynfusionModalTest.Web.Pages.Categories
@using SynfusionModalTest.Masters.Categories;
@using System.Globalization
@inject IHtmlLocalizer<SynfusionModalTestResource> L
@model CreateModalModel
@{
    Layout = null;
}


<form data-ajaxForm="true" asp-page="/Categories/CreateModal" autocomplete="off">
    <abp-modal id="CategoryCreateModal">
        <abp-modal-header title="@L["NewCategory"].Value"></abp-modal-header>

        <abp-modal-body>
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
                    
                    

            <abp-input asp-for="Category.Title"   />


            <abp-input asp-for="Category.Description"   />
            <ejs-richtexteditor name="comment" id="commentRTE" value="Category.Description">
            </ejs-richtexteditor>
                    
                
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)">
@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
        </abp-modal-footer>
    </abp-modal>
</form>
