@page
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using SynfusionModalTest.Permissions
@using SynfusionModalTest.Web.Pages.Categories
@using SynfusionModalTest.Web.Menus
@using Microsoft.AspNetCore.Mvc.Localization
@using SynfusionModalTest.Localization
@inject IHtmlLocalizer<SynfusionModalTestResource> L
@inject IAuthorizationService Authorization
@model IndexModel
@using Syncfusion.EJ2
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = L["Categories"].Value;
    PageLayout.Content.MenuItemName = SynfusionModalTestMenus.Categories;
}

@section styles
{
@*//<suite-custom-code-block-1>*@
@*//</suite-custom-code-block-1>*@
}

@section scripts
{
    <abp-script src="/Pages/Categories/index.js" />
@*//<suite-custom-code-block-2>*@
@*//</suite-custom-code-block-2>*@
}

@section content_toolbar {
    <abp-button id="ExportToExcelButton" text="@L["ExportToExcel"].Value" icon="download" size="Small" button-type="Primary" />
    @if (await Authorization.IsGrantedAsync(SynfusionModalTestPermissions.Categories.Create))
    {
        <abp-button id="NewCategoryButton" text="@L["NewCategory"].Value" icon="plus" size="Small" button-type="Primary" />
    }
@*//<suite-custom-code-block-3>*@
@*//</suite-custom-code-block-3>*@
}

@*//<suite-custom-code-block-4>*@
@*//</suite-custom-code-block-4>*@
<ejs-richtexteditor id="default">
    <e-content-template>
        <div>
            <p>The Rich Text Editor component is a WYSIWYG ('what you see is what you get') editor that provides the best user experience to create and update the content. Users can format their content using standard toolbar commands.</p>
            <p><b> Key features:</b></p>
            <ul>
                <li><p> Provides IFRAME and DIV modes </p></li>
                <li><p> Capable of handling markdown editing.</p></li>
                <li><p> Contains a modular library to load the necessary functionality on demand.</p></li>
                <li><p> Provides a fully customizable toolbar.</p></li>
                <li><p> Provides HTML view to edit the source directly for developers.</p></li>
                <li><p> Supports third - party library integration.</p></li>
                <li><p> Allows a preview of modified content before saving it.</p></li>
                <li><p> Handles images, hyperlinks, video, hyperlinks, uploads, etc.</p></li>
                <li><p> Contains undo / redo manager.</p></li>
                <li><p> Creates bulleted and numbered lists.</p></li>
            </ul>
        </div>
    </e-content-template>
</ejs-richtexteditor>
<abp-card>
    <abp-card-body>
		<abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control page-search-filter-text" id="FilterText" placeholder="@L["Search"]"/>
                        <abp-button button-type="Primary" type="submit" icon="search"/>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler" class="text-decoration-none">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size="_3">
                <abp-input asp-for="TitleFilter" label="@L["Title"].Value" />
            </abp-column>
            <abp-column size="_3">
                <abp-input asp-for="DescriptionFilter" label="@L["Description"].Value" />
            </abp-column>
@*//<suite-custom-code-block-5>*@
@*//</suite-custom-code-block-5>*@
        </abp-row>
        
        <div id="bulk-delete-context-menu" class="d-none">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <p class="lead mb-0 d-none" id="items-selected-info-message"></p>
                            
                <div>
                    <button class="btn btn-outline-secondary d-none mx-1" id="select-all-items-btn"></button>
                                
                    <button class="btn btn-outline-secondary d-none mx-1" id="clear-selection-btn">
                        @L["ClearSelection"]
                    </button>
                                
                    <button class="btn btn-danger mx-1" id="delete-selected-items">
                        <i class="fa fa-trash"></i> @L["Delete"]
                    </button>
                </div>
                
            </div>
            
            <hr class="my-1 mx-0"/>
        </div>

        <abp-table striped-rows="true" id="CategoriesTable">
            <thead>
				<tr>
				    <th id="BulkDeleteCheckboxTheader"><input type="checkbox" id="select_all" class="form-check-input" /></th>
				    
					<th>@L["Actions"]</th>
					<th>@L["Title"]</th>
					<th>@L["Description"]</th>

@*//<suite-custom-code-block-6>*@
@*//</suite-custom-code-block-6>*@
				</tr>
            </thead>
        </abp-table>
    </abp-card-body>
</abp-card>

@*//<suite-custom-code-block-7>*@
@*//</suite-custom-code-block-7>*@