﻿@page
@model SynfusionModalTest.Web.Pages.IndexModel
@using SynfusionModalTest.Web.Menus
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Microsoft.AspNetCore.Mvc.Localization
@using SynfusionModalTest.Localization
@using Volo.Abp.Users
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<SynfusionModalTestResource> L
@inject ICurrentUser CurrentUser
@{
    ViewBag.PageTitle = L["Home"];
    PageLayout.Content.Title = L["Home"].Value;
    PageLayout.Content.MenuItemName = SynfusionModalTestMenus.Home;
}

<abp-card>
    <abp-card-header>@L["Welcome"]</abp-card-header>
    <abp-card-body>
        <p>@L["LongWelcomeMessage"]</p>

        @if (!CurrentUser.IsAuthenticated)
        {
            <a abp-button="Primary" href="~/Account/Login">@L["Login"]</a>
        }

        <hr />
        <p class="text-end"><a href="https://abp.io?ref=tmpl" target="_blank">abp.io</a></p>
    </abp-card-body>
</abp-card>
<div class="card mt-5">
    <div class="card-body">
        <div class="row">
            <div class="col-md-auto text-center">
                <img src="https://abp.io/assets/png/mastering-abp-framework.webp" style="max-width: 400px;" class="w-100 mb-5 my-md-3">
            </div>
            <div class="col-md d-flex align-items-center">
                <div class="pe-0 pe-md-4">
                    <small class="text-uppercase text-muted">The Official Guide</small>
                    <h2 class="mb-4">Mastering ABP Framework</h2>
                    <p class="mb-4">Written by the creator of the ABP Framework, this book will help you gain a complete understanding of the framework and modern web application development techniques.</p>
                    <div class="mb-4">
                        <a href="https://www.amazon.com/gp/product/B097Z2DM8Q/ref=dbs_a_def_rwt_hsch_vapi_tkin_p1_i0" class="btn btn-success mb-1">
                            Buy on Amazon US
                        </a>
                        <a href="https://www.packtpub.com/product/mastering-abp-framework/9781801079242" class="btn btn-primary mb-1">
                            Buy on PACKT
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
